



.serif{
    font-family: serif, 'Times New Roman', Times;
}
.cursive{
    font-family: cursive;
}
.monospace{
    font-family: 'Courier New', Courier, monospace;
}


.font3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

.font1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;

}