body{
    margin: 00;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: pink; 
}

.Gallery{
    display:flex;
       /* columns: 3;
    column-gap: 1rem; */
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    justify-content: center;
}

.Gallery img{
    width: 250px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px rgba(0 ,0 ,0 , 0.2);
    
}

.scroll-gallery{
    flex: 0 0 auto;
    width: 200px;
    height: 140px;
    object-fit:cover;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: solid pink;
}

h1,h2{
    text-align: center;
}
.hgalary{
    display: flex;
    overflow-x: scroll;
    gap: 2rem;
}
.hgalary::-webkit-scrollbar{
    display: none;
}
.hgalary img{
    flex: 0 0 auto;
    width: 16rem;
    height: 16rem;
}

.hgalary img{
    width: 250px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px rgba(0 ,0 ,0 , 0.2);}

.hgalary{
    display:flex;
       /* columns: 3;
    column-gap: 1rem; */
    
    gap: 10px;
    padding: 10px;
   
}

.hgalary img{
    width: 250px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px rgba(0 ,0 ,0 , 0.2);
}